<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search for Video Games</title>
  </head>
  <body>
    <form>
      <h1>Video Game Search</h1>
      <input type="text" name="gameSearch" placeholder="Search by Title">
    </form>
      <h2>Best Deal Results</h2>
      <ol>
        <% @games.each do |game| %>
          <li><img src="<%= game.thumb %>" alt="Game Thumbnail"><br /><%= game.title %> <br /><a href="http://www.cheapshark.com/redirect.php?dealID=<%=game.cheapest_deal_id %>">$<%= game.cheapest %></a><br /><br /></li>
        <% end %>
      </ol>
  </body>
</html>
