<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search for Video Games</title>
  </head>
  <body>
    <h1>Video Game Search</h1>
    <input type='text' placeholder='Search by title' />
    <input type='submit' />
    <div>
    </div>
  </body>
</html>
